<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: right;padding-right: 5px;padding-bottom: 10px;">
  Welcome Ernie!
</div>
<div class="main-border">
  <h1>
    <span style="text-decoration: line-through">Hello World!</span>
  </h1>
  <h1>
    Hello <span>{{ title }}</span>
  </h1>
  <a class="button" style="margin-top:20px;">Edit</a>
</div>
<div style="text-align: left;padding-left: 5px;padding-top: 10px;">
  Release 1.0.1.1
</div>

