/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  body{
      padding: 20px;
  }
  /* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;    
  }

  .main-border{ 
    color: rgb(18, 3, 102);     
    border-radius: 5px;
    text-align: center;
    border:3px solid rgb(167, 167, 167);
    background: rgb(245, 245, 245);
    padding: 20px;     
  }